@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Las Totoras Showroom</h1>
    <p>Verano 2022</p>

    <div>
         <img src="~/images/Abrigo1.jpeg" width="250" height="320" alt="Saco Negro Jazmin" />
        <img src="~/images/Abrigo2.jpeg" width="250" height="320" alt="Campera jean claro" />
        <img src="~/images/Abrigo3.jpeg" width="250" height="320" alt="Campera jean Zoe" />
        <img src="~/images/Abrigo4.jpeg" width="250" height="320" alt="Campera peluche rosa" />
        <a class="nav-link text-dark"  asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="2">Ver mas</a>
        <img src="~/images/Boddy1.jpeg" width="250" height="320" alt="Body tiras blancas" />
        <img src="~/images/Boddy2.jpeg" width="250" height="320" alt="Body baby girl" />
        <img src="~/images/Body3.jpeg" width="250" height="320" alt="Body Emma rayado" />
        <img src="~/images/Body4.jpeg" width="250" height="320" alt="Body Cow" />
        <a class="nav-link text-dark" asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="4">Ver mas</a>
        <img src="~/images/Buzo1.jpeg" width="250" height="320" alt="Buzo over size rosa" />
        <img src="~/images/Buzo2.jpeg" width="250" height="320" alt="Buzo crop top" />
        <img src="~/images/Buzo3.jpeg" width="250" height="320" alt="Buzo Rompeviento salmón" />
        <img src="~/images/Buzo4.jpeg" width="250" height="320" alt="Buzo withe Yass" />
        <a class="nav-link text-dark" asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="5">Ver mas</a>
        <img src="~/images/Conjunto1.jpeg" width="250" height="320" alt="Conjunto Mia Naranja" />
        <img src="~/images/Conjunto2.jpeg" width="250" height="320" alt="Conjunto Rose" />
        <img src="~/images/Conjunto3.jpeg" width="250" height="320" alt="Conjunto tiras negras" />
        <img src="~/images/Conjunto4.jpeg" width="250" height="320" alt="Conjunto Blair Fucsia" />
        <a class="nav-link text-dark" asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="6">Ver mas</a>
        <img src="~/images/Pantalon1.jpeg" width="250" height="320" alt="Oxford Male Negro" />
        <img src="~/images/Pantalon2.jpeg" width="250" height="320" alt="OXford Male Celeste" />
        <img src="~/images/Pantalon3.jpeg" width="250" height="320" alt="Bless Azul" />
        <img src="~/images/Pantalon4.jpeg" width="250" height="320" alt="Jogger gris" />
        <a class="nav-link text-dark" asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="3">Ver mas</a>
        <img src="~/images/Remera1.jpeg" width="250" height="320" alt="Remera back off blanca" />
        <img src="~/images/Remera2.jpeg" width="250" height="320" alt="Remera Lina" />
        <img src="~/images/Remera3.jpeg" width="250" height="320" alt="Remera Sofía hueso" />
        <img src="~/images/Remera4.jpeg" width="250" height="320" alt="Remera Dafne blanca" />
        <a class="nav-link text-dark"  asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="7">Ver mas</a>
        <img src="~/images/Short1.jpeg" width="250" height="320" alt="Short Koyd celeste" />
        <img src="~/images/Short2.jpeg" width="250" height="320" alt="Short Kyra azul" />
        <img src="~/images/Short3.jpeg" width="250" height="320" alt="Short Denim nevado" />
        <img src="~/images/Short4.jpeg" width="250" height="320" alt="Short celeste Calu elastizado" />
        <a class="nav-link text-dark"  asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="8">Ver mas</a>
        <img src="~/images/Top1.jpeg" width="250" height="320" alt="Top Elysa negro" />
        <img src="~/images/Top2.jpeg" width="250" height="320" alt="Top Fiorella blanco" />
        <img src="~/images/Top3.jpeg" width="250" height="320" alt="Top Pía rojo" />
        <img src="~/images/Top4.jpeg" width="250" height="320" alt="Top Kala negro" />
        <a class="nav-link text-dark" asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="9">Ver mas</a>
        <img src="~/images/Vestido1.jpeg" width="250" height="320" alt="Vestido Amanda gris" />
        <img src="~/images/Vestido2.jpeg" width="250" height="320" alt="Vestido Kika gris" />
        <img src="~/images/Vestido3.jpeg" width="250" height="320" alt="Vestido Lena rosa" />
        <img src="~/images/Vestido4.jpeg" width="250" height="320" alt="Vestido Rocío rojo" />
        <a class="nav-link text-dark"  asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="10">Ver mas</a>
        <img src="~/images/Zapato1.jpeg" width="250" height="320" alt="Coca negras" />
        <img src="~/images/Zapato2.jpeg" width="250" height="320" alt="Thais negras" />
        <img src="~/images/Zapato3.jpeg" width="250" height="320" alt="Natela beige" />
        <img src="~/images/Zapato4.jpeg" width="250" height="320" alt="Ciela negras" />
        <a class="nav-link text-dark"  asp-controller="Productos" asp-action="FiltrarCategoria" asp-route-id="1">Ver mas</a>

    </div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="5">Volver arriba</a>

</div>