@model CarritoCompras_NT1.Models.Compra
@{
    ViewData["Title"] = "Compra";
    var sucursalId = ViewBag.SucursalId;
    var items = ViewBag.Carritoitems;
}

<h1>Compra</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Estas a unos pasos de concretar tu compra!!</h5>
                <form asp-action="Compra">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CarritoID" />
                    <div class="text-danger">
                        @ViewBag.Error
                    </div>
                    <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" readonly class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SucursalId" class="control-label"></label>
                        <select asp-for="SucursalId" class="form-control" asp-items="@sucursalId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirmar" class="btn btn-success" />
                        <a asp-action="Index" asp-controller="CarritoItems" class="btn btn-danger">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




